doctype html 5
html
    head
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no,viewport-fit=cover")
        meta(name="aplus-terminal", content="1")
        meta(name="data-spm", content="a2141")
        meta(name="aplus-mmstat-timeout", content="10000")
        meta(name="keywords", content=pageKeyword)
        meta(name="description", content='#{pageDescrition}')
        meta(name="theme-color", content="#ff5000")
        meta(name="format-detection", content="telephone=no")
        meta(name="apple-mobile-web-app-title", content="#{pageDescrition}")
        meta(name="application-name", content="#{pageDescrition}")
        meta(name="apple-mobile-web-app-status-bar-style", content="black")
        title=pageTitle
        link(rel="stylesheet", type="text/css", href="#{host}/css/style.css")
    body
        div.header
            div.head-cont
                div.head-logo.lf.return-index
                    h1 #{pageKeyword+'在线播放'}
                    a(href="/", title="回到首页")
                        strong &lt;&nbsp;返回首页
                -if(!userInfo)
                    div.head-user.rf
                        span(onclick="showMOdel('login')") 登入
                        span(onclick="showMOdel('register')") 注册
                -else
                    div#logined.head-user.rf
                        span.refresh(onclick='getRefresh()')
                            | &nbsp;
                            img(src="#{host+'/img/refresh.png'}", alt="刷新登入")
                        span
                            a(href="#{host+'/user/info'}") 个人中心       
                        span(onclick="outLogin()")  退出 
        div.search
            div.search-cont
                input(type="text", id="search-value", placeholder="搜索-有你想要   如：萝莉", onkeyup="getSearchKeyup()")
                button(onclick="search()") 搜&nbsp;&nbsp;索
            div.notice
                div#notice-cont
                    each item in marqueeList
                        p=item
        div.bodyer.detail
            h2=pageTitle
            -if(videoData.video)
                iframe(id="my-iframe" data-src='<!doctype html><head><meta charset="utf-8"></head><body><style>*{box-sizing: border-box;margin:0;padding:0;}video{background:#000;width:100%;padding:30px;}@media(max-width:500px){video{padding: 2px;}}</style><video width="510" height="350" controls="controls" src="#{videoData.video}">您的浏览器不支持HTML5的 video 标签，无法为您播放！</video></body></html>', src='javascript:document.write(window.frameElement.getAttribute("data-src"))')
            -else
                a(href="#{host}", class="no-more" title="返回首页") 没有查询到数据，返回首页？
        div.la 拉微信号:
            font(color="red") llhb_cn
            | 进500人以上的微信群，送VIP。
        div.recommend.detail
            h3 随机推荐 &gt;
            div.list
                each item in recommend
                    a(href="#{host+'/detail/'+item.createTime}", title="#{item.title}在线观看")
                        div
                            img(src="#{item.img}", alt="#{item.title}", onerror="this.src='./img/timg.gif'")
                        div.list-title
                            strong #{item.title.replace(/[在线]|【在线】/, '')}
        div.footer
            | 欢迎来到&nbsp;
            a(href="http://llh8.cn", title="")
                strong WWW.LLH8.CN&nbsp;
            | 未满18岁禁止进入
        div#mask.mask
        div(class="test-look", id="#{testLook.id}")
            div(class="test-body") #{testLook.cont}
            div(class="test-foot")
                -if(testLook.goVip)
                    button(onclick="beComeMember()", class="test-sure") 
                        a(href="#{host+'/user/info'}") 成为会员
                -else
                    button(onclick="showMOdel('login')", class="test-sure") 去登入   
                button(onclick="continueTest()") 继续试看
        script(src="#{host}/js/common.js", type="text/javascript")
        div(style="display:none")
            script(src="https://s13.cnzz.com/z_stat.php?id=1274797422&web_id=1274797422", async="async", language="JavaScript")