doctype html 5
html
    head
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no,viewport-fit=cover")
        meta(name="aplus-terminal", content="1")
        meta(name="data-spm", content="a2141")
        meta(name="aplus-mmstat-timeout", content="10000")
        meta(name="keywords", content=pageKeyword)
        meta(name="description", content='#{pageDescrition}')
        meta(name="theme-color", content="#ff5000")
        meta(name="format-detection", content="telephone=no")
        meta(name="apple-mobile-web-app-title", content="#{pageDescrition}")
        meta(name="application-name", content="#{pageDescrition}")
        meta(name="apple-mobile-web-app-status-bar-style", content="black")
        title=pageTitle
        link(rel="stylesheet", type="text/css", href="#{host}/css/style.css")
    body
        div.header
            div.head-cont
                div.head-logo.lf
                    h1=pageKeyword
                    a(href="http://www.llh8.cn", target="_blank", title="萝莉网红永久访问地址")
                        span 永久域名|
                        //- br
                        strong WWW.LLH8.CN
                //- div.head-menu.lf
                //-     each item in menuList
                //-         a(href="#{item.url}", title="#{item.title}在线列表") #{item.title}
                -if(!userInfo)
                    div.head-user.rf
                        span(onclick="showMOdel('login')") 登入
                        span(onclick="showMOdel('register')") 注册
                -else
                    div#logined.head-user.rf
                        span.refresh(onclick='getRefresh()')
                            | &nbsp;
                            img(src="#{host+'/img/refresh.png'}", alt="刷新登入")
                        span
                            a(href="#{host+'/user/info'}", target="_blank") 个人中心       
                        span(onclick="outLogin()")  退出 
        div.search
            div.search-cont
                input(type="text", id="search-value", placeholder="搜索-有你想要   如：萝莉", onkeyup="getSearchKeyup()")
                button(onclick="search()") 搜&nbsp;&nbsp;索
            div.notice
                div#notice-cont
                    each item in marqueeList
                        p=item
        div.bodyer
            div.list
                -if(listData.length)
                    each item in listData
                        a(href="#{host+'/detail/'+item.createTime}", title="#{item.title}在线观看", target="_blank")
                            div
                                img(src="#{item.img}", alt="#{item.title}", onerror="this.src='./img/timg.gif'")
                            div.list-title
                                strong #{item.title.replace(/[在线]|【在线】/, '')}
                -else
                    a(href="#{host}", class="no-more" title="返回首页") 没有查询到数据，返回首页？
        div.page
            span.current-page 当前弟"&nbsp;#{currentPage}&nbsp;"页&nbsp;&nbsp;搜索条件"&nbsp;#{titlePage || '无'}&nbsp;"
            each item in page
                -if(item.active)
                    span(class="#{item.active}") #{item.label}
                -else
                    a(href="#{host+'/'+item.url}", title="#{item.label}") #{item.label}
        div.recommend
            h3 随机推荐 》
            ul
                each item in recommend
                    li
                        a(href="#{host+'/detail/'+item.createTime}", title="#{item.title}") #{item.title.replace(/[在线]|【在线】/, '')}
        div.footer
            | 欢迎来到&nbsp;
            a(href="http://llh8.cn", title="")
                strong WWW.LLH8.CN&nbsp;
            | 未满18岁禁止进入
        div#mask.mask
        script(src="#{host}/js/common.js", type="text/javascript")