doctype html 5
html
    head
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no,viewport-fit=cover")
        meta(name="aplus-terminal", content="1")
        meta(name="data-spm", content="a2141")
        meta(name="aplus-mmstat-timeout", content="10000")
        meta(name="keywords", content=pageKeyword)
        meta(name="description", content='#{pageDescrition}')
        meta(name="theme-color", content="#ff5000")
        meta(name="format-detection", content="telephone=no")
        meta(name="apple-mobile-web-app-title", content="#{pageDescrition}")
        meta(name="application-name", content="#{pageDescrition}")
        meta(name="apple-mobile-web-app-status-bar-style", content="black")
        title=pageTitle
        link(rel="stylesheet", type="text/css", href="#{host}/css/style.css")
    body
        div.header
            div.head-cont
                div.head-logo.lf
                    h1 #{pageKeyword}
                    a(href="http://www.llh8.cn", target="_blank", title="萝莉网红永久访问地址")
                        span 永久域名|
                        //- br
                        strong WWW.LLH8.CN
                div#logined.head-user.rf
                    span.refresh(onclick='getRefresh()')
                        | &nbsp;
                        img(src="#{host+'/img/refresh.png'}", alt="刷新登入")
                    span #{userName}
                    span
                        a(href="#{host}", title="返回首页") 首页
        div.bodyer.mine
            div.info
                p
                    span.label 用户名:
                    span#user-name #{userName}
                p
                    span.label 会员等级:
                    span#user-level #{userLevel}
                p
                    span.label 到期时间:
                    span#user-date #{expiryTime}
            div.vipchooser
                div.item
                    div.item_top
                        p.title VIP 7天(①周)   
                        p.money ￥9.9     
                div.item
                    div.item_top
                        p.title VIP 30天(①月)               
                        p.money ￥26
                div.item
                    div.item_top
                        p.title VIP 180天(半年)        
                        p.money ￥120  
                div.item
                    div.item_top
                        p.title VIP 360天(①年)              
                        p.money ￥200     
            div.er
                div
                    font(color="#186209") 打开微信，扫描下方二维码付款
                img(src="#{host+'/img/er.png'}", alt="收款二维码")
            div.step
                div 支付步骤：↓     
                strong(style="line-height: 25px")
                font(color="#FF0000")
                    |   1、长按二维码“保存图片”（iOS需手动截屏保存）
                    br
                    |   2、打开微信“扫一扫”，从相册选取该二维码
                    br
                    |   3、付款下方"添加备注"你的用户名（必填）
                    br
                    |   4、如未开通，请联系客服 (记得刷新登入)
                    br
                div.service
                    strong 客服:                
                    img(border="0", src="http://pub.idqqimg.com/wpa/images/group.png", alt="vip群图片")
                    a(target="_blank", href="http://shang.qq.com/wpa/qunwpa?idkey=952bbc68530869a9ac3ccaea914fb5338d12e283fb9ec0a62de7065170bd7c6b", title="vip群链接", rel="nofollow") 789820778                   
                    img.logo_img(src="http://pub.idqqimg.com/wpa/images/counseling_style_51.png", alt="vip客服qq图")
                    a(style="text-decoration:underline;", target="_blank", href="http://wpa.qq.com/msgrd?v=3&uin=3257905932&site=qq&menu=yes", title="vipQQ客服链接", rel="nofollow") 3257905932
            div.tip-money
                strong
                    | 累计充值达到（
                    font(color="red") 300
                    | ）以上的会员将永久免费
        div.footer
            | 欢迎来到&nbsp;
            a(href="http://llh8.cn", title="")
                strong WWW.LLH8.CN&nbsp;
            | 未满18岁禁止进入