doctype html 5
html
    head
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no,viewport-fit=cover")
        meta(name="aplus-terminal", content="1")
        meta(name="data-spm", content="a2141")
        meta(name="aplus-mmstat-timeout", content="10000")
        meta(name="keywords", content=pageKeyword)
        meta(name="description", content='#{pageDescrition}')
        meta(name="theme-color", content="#ff5000")
        meta(name="format-detection", content="telephone=no")
        meta(name="apple-mobile-web-app-title", content="#{pageDescrition}")
        meta(name="application-name", content="#{pageDescrition}")
        meta(name="apple-mobile-web-app-status-bar-style", content="black")
        title=pageTitle
        link(rel="stylesheet", type="text/css", href="#{host}/css/style.css")
    body.mine
        div.header
            div.head-cont
                div.head-logo.lf
                    h1 #{pageKeyword}
                    a(href="http://www.llh8.vip", target="_blank", title="萝莉网红永久访问地址")
                        span 永久域名|
                        strong WWW.LLH8.VIP
                div#logined.head-user.rf
                    span.refresh(onclick='getRefresh()')
                        | &nbsp;
                        img(src="#{host+'/img/refresh.png'}", alt="刷新登入")
                    span #{userName}
                    span
                        a(href="#{host}", title="返回首页") 首页
        div.info
            p
                span.label 用户名:
                span#user-name #{userName}
            p
                span.label 会员等级:
                span#user-level #{userLevel}
            p
                span.label 到期时间:
                span#user-date #{expiryTime}
            p
                span.label 累计充值:
                span#user-total #{total}&nbsp;
                    font (满300永久免费)    
        div.tab
            div.tab-menu
                a.shuoming(href="#shuoming") 本站说明
                a.chongzhi(href="#chongzhi") 马上充值
            div.tab-list
                div.tip-money#shuoming
                    span(style="line-height:20px;color:#333;") 本站点为付费站点，普通会员最多只能观看两分钟
                        br
                        | 充值后才能观看完整版，费用说明如下:
                    span
                        br
                        | 充值
                        font(color="red") &nbsp;3.3元&nbsp;
                        | 可享一天VIP会员（体验）
                        br
                        | 充值
                        font(color="red") &nbsp;9.9元&nbsp;
                        | 可享一个星期VIP会员
                        br
                        | 充值
                        font(color="red") &nbsp;26元&nbsp;
                        | 可享一个月VIP会员
                        br
                        | 充值
                        font(color="red") &nbsp;120元&nbsp;
                        | 可享半年VIP会员
                        br
                        | 充值
                        font(color="red") &nbsp;200元&nbsp;
                        | 可享一年VIP会员
                        br
                        | 累计充值达到（
                        font(color="red") 300元
                        | ）以上的会员将永久免费
                        br
                    div.service
                        strong 客服:                
                        img(border="0", src="#{host+'/img/wei2.png'}", alt="vip微信图片", style="width:25px;")
                        span 13952470578                   
                        img.logo_img(src="http://pub.idqqimg.com/wpa/images/counseling_style_51.png", alt="vip客服qq图")
                        a(style="text-decoration:underline;", target="_blank", href="http://wpa.qq.com/msgrd?v=3&uin=762008732&site=qq&menu=yes", title="vipQQ客服链接", rel="nofollow") 762008732
                    font(color="red") 建议加好友，联系客服转账（以免不懂操作）
                div.er
                    div.chongzhi#chongzhi
                        font(color="#186209") 
                            strong 微信扫描下方二维码付款--请备注用户名
                        br
                        img(src="#{host+'/img/er.png'}", alt="收款二维码")
                        div(style=" color: rgb(212, 141, 9);font-size: 18px;font-weight: bold;")
                            strong 无法充值？充值没到帐？请联系客服。
                    div.step
                        div 
                            strong 充值步骤：↓    
                        |   1、长按二维码“保存图片”（iOS需手动截屏保存）
                        br
                        |   2、打开微信“扫一扫”，从相册选取该二维码
                        br
                        |   3、付款下方"添加备注"你的用户名（必填）
                        br
                        |   4、客服开通后（点击用户名旁边的刷新按钮）
                        br
                        |   5、没开通或有其他问题（请联系客服）
                    
        div.footer
            | 欢迎来到&nbsp;
            a(href="http://llh8.vip", title="http://llh8.vip")
                strong WWW.LLH8.VIP&nbsp;
            | 未满18岁禁止进入
        script(src="#{host}/js/common.js", type="text/javascript")
        div(style="display:none")
            script(src="https://s13.cnzz.com/z_stat.php?id=1274797422&web_id=1274797422", async="async", language="JavaScript")